@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.main-bg {
  background: var(
    --pp3-background,
    linear-gradient(113deg, #984d38 -30.3%, #181e41 58.12%)
  );
}

.grid-item {
  @apply flex flex-row justify-center items-center h-[100px];
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  position: absolute;
  top: 0;
  right: 0;
  background: #181e41b7;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 250px;
  min-height: 100vh;
}
